[manifest]
version = "0.1.0"
dump_lua = true
priority = 0

# Add Spearlamp info_queue messages to steel & slime cards
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = 'for _, v in ipairs(info_queue) do'
position = "before"
payload = '''
-- ellejokers. stuff :p
if (card) then
	-- Spearlamp support
	if (#SMODS.find_card("j_elle_spearlamp", false)>0) then
		if (_c.key == "m_steel") then info_queue[#info_queue+1] = G.P_CENTERS.m_elle_slime end
		if (_c.key == "m_elle_slime") then info_queue[#info_queue+1] = G.P_CENTERS.m_steel end
	end
end
'''
match_indent = true

# Fix SMODS incorrect challenge saving
[[patches]]
[patches.pattern]
target = "engine/controller.lua"
pattern = '''G.challenge_tab = G.GAME and G.GAME.challenge and G.GAME.challenge_tab or nil'''
position = "after"
payload = '''
if type(G.challenge_tab) == "string" and G.GAME and G.GAME.challenge then
    G.challenge_tab = G.CHALLENGES[get_challenge_int_from_id(G.GAME.challenge or '') or ''] or {name = 'ERROR'}
end
'''
match_indent = true
overwrite = false

# Any stickers and custom values in challenges, copied from entropy and modified to add value support
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "if v.eternal then card:set_eternal(true) end"
position = "before"
payload = '''
if v.stickers then
	for i, _v in ipairs(v.stickers) do
		SMODS.Stickers[_v]:apply(card, true)
	end
end
if v.ability then
	for k, v in pairs(v.ability) do
		card.ability[k] = v
	end
end
'''
match_indent = true

# same deal for actual game
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "if v.eternal then _joker:set_eternal(true) end"
position = "before"
payload = '''
if v.stickers then
	for i, _v in ipairs(v.stickers) do
		SMODS.Stickers[_v]:apply(_joker, true)
	end
end
if v.ability then
	for k, v in pairs(v.ability) do
		_joker.ability[k] = v
	end
end
'''
match_indent = true

# jess card patch so i don't have to deal with debuff shit :)
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "if not id then return end"
position = "before"
payload = '''
	if SMODS.has_enhancement(self, "m_elle_jess") then return true end
'''
match_indent = true